.card {
    padding: 0 5rem;
    text-align: center;
}

.card figcaption {
    display:grid;
    gap:0.75rem 0.4rem;
    grid-template: 1fr 1fr / 1fr 1fr;
    margin: 0 auto;
    width:95%;
}

.card figcaption p {
    justify-self: start;
}

.card figcaption p strong {
    color: #f10b2d;
    font-weight: 700;
}

.card div {
    background-color: #666;
    height: 20rem;
    margin: 0 auto;
    width: 95%;
}

.card div img {
    height: 100%;
    width: auto;
}

.card h2 {
    font-size: 1.25rem;
    margin: 1.25rem auto;
    text-align: left;
    width: 95%;
}

.main {
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0;
    padding: 0 5rem;
}

.main p {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 65%;
}

.main section {
    border: 1px solid #666;
    box-shadow: 0 0 0.3rem #666;
    margin: 0 auto;
    min-width: 30rem;
    padding: 1rem;
    width: 30%;
}

.main section h2 {
    color: #148fdb;
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}

.time {
    justify-self: end !important;
}