.article  {
    box-shadow: 0 0 1rem #666;
    display:inline-grid;
    grid-template-columns: 2rem auto;
    margin:1rem;
    padding: 1rem;
    width:45%;
}

.votes {
    align-content: center;
    display: flex;
    flex-flow:column wrap;
}

.votes button {
    background-color: #148fdb;
    border:none;
    color:#fff;
    cursor: pointer;
    margin:0.5rem;
}

.vote button:hover {
    cursor: pointer;
    opacity: 0.25;
}