.author {
    display: inline;
    color: #f10b2d !important;
    margin: 0 !important;
    width: fit-content;
}

.comment {
    margin: 1rem 0;
    overflow: hidden;
    width: 95%;
}

.comment div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.comment div p {
    display: inline-block;
    width: fit-content !important;
}

.content {
    display: initial !important;
    margin-top: 0.3rem;
    text-align: left;
}

.content p {
    display: block !important;
}